<h1 class="text-center mb-5">Menu</h1>
<ul class="list-group">
    <li class="list-group-item">
        <button routerLink="/wishlist">
            Wishlist          
        </button>
    </li>
    <li class="list-group-item">
        <button routerLink="/cart">
            Cart
        </button>
    </li>
    <li class="list-group-item">
        <button routerLink="/orders">
            Orders
        </button>
    </li>
    <li class="list-group-item">
        <button routerLink="/address">
            Manage addresses
        </button>
    </li>
</ul>