<app-navbar2 *ngIf="type == 'user'"></app-navbar2>
<app-navbar3 *ngIf="type == 'admin'"></app-navbar3>
<div class="container my-5 p-3">
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/Logo.jpg" alt="" width="100%">
        </div>
        <div class="col-lg-8">
            <h1 class="text-center my-3">About Us</h1>
            <p>Welcome to Book Spot, the perfect spot to find all your favourite books.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nulla cupiditate unde minima facilis
                neque, amet harum voluptatibus doloremque a rerum illum repudiandae corporis soluta placeat magni,
                provident ullam quia molestiae ipsum vitae sunt nam, vel porro. Vero ratione magni suscipit libero earum
                aliquid debitis, tempore nemo! Soluta nisi ex aliquid, ut accusantium repellat excepturi pariatur quasi
                dolorum ab alias modi non tempora tempore necessitatibus minima explicabo labore obcaecati nobis nemo
                voluptate? Vel atque fugit earum nulla eligendi magnam dolorum consectetur fuga unde. Mollitia porro
                fuga, animi quod, dignissimos facere reiciendis nihil ipsum impedit autem minus veritatis nemo obcaecati
                aliquam!</p>
        </div>
    </div>
</div>