<h1 class="text-center mb-5">Menu</h1>
<ul class="list-group">
    <li class="list-group-item">
        <button routerLink="/admin/category">
            Categories
        </button>
    </li>
    <li class="list-group-item">
        <button routerLink="/admin/book">
            Books            
        </button>
    </li>
    <li class="list-group-item">
        <button routerLink="/admin/users">
            Users
        </button>
    </li>
    <li class="list-group-item">
        <button routerLink="/admin/orders">
            Orders
        </button>
    </li>
    <li class="list-group-item">
        <button routerLink="/coupon">
            Coupons
        </button>
    </li>
</ul>